@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --primary: #66bb6a;
    --secondary: #ffff;
    --bg-color: #bbf7d0;
    --primary-font-color: #ffff;
    --secondary-font-color: #64748b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Arvo", sans-serif;
}

body {
    margin: 0;
    padding: 2rem 0;
    background-color: var(--bg-color);
    font-weight: 600;
    text-align: center;
    color: var(--primary-font-color);
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    background-color: #fff;
    max-width: 30rem;
    margin: auto;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--primary) 1.4px 2.8px 8px;
    overflow: hidden;
}

header {
    /* background-color: var(--primary); */
    color: var(--primary);
    padding: .2rem 0;
}

.btn {
    padding: .3rem;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 1.8px 3.2px 3.5px;
    background-color: #fff;
    font-weight: 600;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0.6px 1.2px 1.2px;
}

.toDoForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    border: 1px solid;
}

#toDoInput {
    padding: .45rem 1rem;
    border: none;
    border-radius: .25rem;
    font-size: 1em;
    outline: none;
}
#toDoDate {
    cursor: pointer;
}

.toDoList {
    max-height: 40vh;
    overflow-y: auto;
    text-align: left;
    margin-left: .75rem;
}
.toDoList .message{
    color: var(--secondary-font-color);
    font-weight: 600;
    padding: .65rem 0;
}

.dateHeader{
    color: var(--secondary-font-color);
    margin-bottom: .65rem;
}
.dateHeader + ul{
    margin-bottom: 1.5rem;
} 

.task {
    border: 2px solid var(--primary);
    margin: 0 .75rem .75rem 0;
    padding: 1rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--primary-font-color);
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.2) 1.4px 2.8px 8px;
    cursor: pointer;
}

.task span {
    display: flex;
    gap: .6rem;
}

.task span.completed {
    text-decoration: line-through;
}

.checkbox {
    position: relative;
}

.checkbox label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    height: 5px;
    width: 10px;
    transform: rotate(-45deg);
    opacity: 0;
}

.checkbox input[type="checkbox"] {
    visibility: hidden;
}

.checkbox input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.checkbox input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.task input[type="text"] {
    border: none;
    border-radius: .2rem;
    padding: .3rem .5rem;
    outline: none;
    color: var(--secondary-font-color);
}

footer {
    margin-top: 2rem;
}

footer ul {
    display: flex;
    justify-content: center;
}

.icon {
    width: 2.5rem;
    padding: 0.3rem;
}
